<app-header (session)="getSession($event)"></app-header>
<div class="effect" id="us">
				<div class="container">
					<div class="hero__wallets pt-100 pb-50">
						<div class="space-y-20 d-flex flex-column align-items-center">

							<h2 class="text-center" style="color:#000; font-family: 'Poiret One'">About Us</h2>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-lg-9">
							<div class="hero_newsletter box bg_white mt-30 mb-30" id="inmate">
														<div class="row gx-5 align-items-center">
																<div class="col-lg-6 left__side">
																		<div class="content space-y-20 form_cc_four">

																				<h1 class="hero__title text-center">Inmate NFT's</h1>
																				<p>NFTEA is proud to be the 1st and only NFT platform to allow poems, stories, raps and art sent as text messages from prison inmates. </p>
																				<p> Not all text messages we receive will become NFT's, we encourage to you to create an account on behalf of your incarated loved one, to gurantee their
																					valuable thoughts are turned into NFTea's.

																		</div>
																</div>
																<div class="col-lg-6 right__side text-center">
																	<h3 class="text-center">have your incarated friend or family member text (screen shot preffered) their poem, story or artwork to.. <br><br></h3>
																		<h2 class="text-center">
																			(984) 600-NFTEA

																		</h2>
																		<p class="mt-5"><small>include the family member BNB payout address in the text... 80% of the sold amount is sent to the BNB address</small></p>
																</div>
														</div>
												</div>

							<div class="hero_newsletter box bg_white">
										        <div class="row gx-5 align-items-center">
										            <div class="col-lg-6 left__side">
										                <div class="content space-y-20">
										                    <h1 class="hero__title">98% Of NFT's Won't Sell</h1>
										                    <p class="hero__desc h5" style="linline-height: 44px">NFTea.app is a disruptive new media platform that
																					aims to solve that problem.<br /><br />
																					Back your nft's with TEA Tokens, time locked for months/years to give it value.<br>Your nft could be worth A LOT in the future.
										                    </p>
										                </div>
										            </div>
										            <div class="col-lg-6 right__side">
										                <img class="img-fluid hero__img" src="https://raroin.creabik.com/assets/img/items/item_4.png" alt="newsletter">
										            </div>
										        </div>
										    </div>
								<div class="row justify-content-center">
									<div class="box is__big space-y-20 forum_border mt-30 col-5 mr-10">
												<div class="d-flex form_cc_four">
														<div class="space-y-20">
																<h3>TEA Tokens</h3>
																<p class="forum__desc h5">TEA TOKENS are BEP20 tokens built on Binance Chain </p>
																<hr />

																<div class="forum__desc h4" style="linline-height: 88px">Tokenomics:
																	<ul class="mt-10">
																		<li><small>Total Supply: 84 Trillion</small></li>
																		<li><small>Total Buy/Sell Tax: 10%</small></li>
																		<li><small>Marketing: </small>4%</li>
																		<li><small>Operations: </small> 4%</li>
																		<li><small>Community Bank: </small>1% TEA</li>

																	</ul>
																</div>


														</div>
												</div>
										</div>
										<div class="box is__big space-y-20 forum_border mt-30 col-5" id="sato">
													<div class="d-flex form_cc_four">
															<div class="space-y-20">
																	<h3>Max Wallet & Limitations</h3>
																	<p class="forum__desc h5"> </p>
																	<hr />

																	<div class="forum__desc h4" style="linline-height: 88px">
																		<h5>Initially, your Max wallet balance is 420,000,000,000. <br><br>This limitation is lifted when you brew your 1st NFT. <br><br>Brewing your 1st NFT means, removing the TEA tokens in it's vault.<br><br>

																		<ol style="display:none">
																			<li>Honey: Your NFT received some honey... you withdraw the honey in the vault of the NFT.</li>
																			<li>NFT with vault: You buy an NFT with TEA tokens in it's vault and withdraw the tokens on the NFT's brew date</li>
																		</ol>
																		</h5>

																	</div>


															</div>
													</div>
											</div>
								</div>
								<div class="hero_newsletter box bg_white mt-30 mb-30" id="teapot">
											        <div class="row gx-5 align-items-center">
											            <div class="col-lg-6 left__side">
											                <div class="content space-y-20 form_cc_four">

											                    <h1 class="hero__title">TEA POT = community bank</h1>
																					<p>Every time you send TEA tokens, 1% of your transaction amount is sent to the community bank, to be redistributed back into NFTs and content rewards. </p>

											                </div>
											            </div>
											            <div class="col-lg-6 right__side text-center">
											                <img class="img-fluid hero__img" src="/assets/img/icons/honeyPot.png" style="width:50%; height:auto">
											            </div>
											        </div>
											    </div>
								<div class="row justify-content-center" id="brew">
									<div class="box is__big space-y-20 forum_border mt-30 col-5 mr-10">
												<div class="d-flex form_cc_four">
														<div class="space-y-20">
																<h3>Brew Pot</h3>
																<p class="forum__desc h5">Single mint NFT's each have a Brew Pot, think of it as a vault you can't open until a certain date.
																</p>
																<p class="forum__desc h5">It's like Tea you can't drink until it's finished brewing.
																</p>
																<p class="forum__desc h5">The owner of the NFT can withdraw the TEA Tokens or other tokens in the brew pot after it's brew date.
																</p>
														</div>
												</div>
										</div>
										<div class="box is__big space-y-20 forum_border mt-30 col-5">
													<div class="d-flex form_cc_four">
															<div class="space-y-20">
																	<h3>Add Honey</h3>
																	<p class="forum__desc h5">The "Like" button is so 2000's. </p>
																	<p class="forum__desc h5">Here do don't get Likes, you get Honey. </p>
																	<p class="forum__desc h5">When a community member adds honey to your NFT, a small amount is taken from the TEA Pot and added to your NFT's brew pot, growing it's value. </p>

															</div>
													</div>
											</div>
								</div>

								<div class="row justify-content-center" style="display: none">
									<div class="box is__big space-y-20 forum_border mt-30 col-5 mr-10">
												<div class="d-flex form_cc_four">
														<div class="space-y-20">
																<h3>Tea Pass</h3>
																<p class="forum__desc h5">NFT's with quantities of more than one, are categoried as Tea Passes.
																</p>
																<p class="forum__desc h5">Think of it as event tickets, or coupons or just a pass to a local experience.
																</p>
																<p class="forum__desc h5">Redeem your Tea Pass as described in the NFT metadata.
																</p>
														</div>
												</div>
										</div>
										<div class="box is__big space-y-20 forum_border mt-30 col-5">
													<div class="d-flex form_cc_four">
															<div class="space-y-20">
																	<h3>Tea Pass (for content)</h3>
																	<p class="forum__desc h5">Your Avatar MUST be an NFT you own. </p>
																	<p class="forum__desc h5"> Your avatar serves as a TEA pass to access video and music content. </p>
																	<p class="forum__desc h5">Connect your Tea pass to a content artist and they earn from the honey pot while you consume their content. </p>

															</div>
													</div>
											</div>
								</div>

								<div class="row justify-content-center">
									<div class="box is__big space-y-20 forum_border mt-30 col-5 mr-10">
												<div class="d-flex form_cc_four">
														<div class="space-y-20">
																<h3>Power Levels</h3>
																<p class="forum__desc h5">Your power level determines how much Honey gets added to an NFT.
																</p>
																<p class="forum__desc h5">The higher your power level the more honey the NFT earns.
																</p>
																<p class="forum__desc h5">Grow your power level when you buy, or offer video/music content on the platform.
																</p>
														</div>
												</div>
										</div>
										<div class="box is__big space-y-20 forum_border mt-30 col-5">
													<div class="d-flex form_cc_four">
															<div class="space-y-20">
																	<h3>Cafe Wall</h3>
																	<p class="forum__desc h5">The Wall is for your throw away art. Art that gets the owner access to a contract filled shitcoin assets </p>
															</div>
													</div>
											</div>
								</div>
								<div class="hero_newsletter box bg_white mt-30 mb-30" id="royalties">
											        <div class="row gx-5 align-items-center">
											            <div class="col-lg-12">
											                <div class="content space-y-20">
											                    <h1 class="hero__title text-center">Artist Focused</h1>
											                    <p class="hero__desc h5 text-center" style="linline-height: 44px">
																						Features artists will love!
											                    </p>
											                </div>
											            </div>

											        </div>
											    </div>

													<div class="row justify-content-center">
														<div class="box is__big space-y-20 forum_border mt-30 col-5 mr-10">
																	<div class="d-flex form_cc_four">
																			<div class="space-y-20">
																					<h3>Split Payments</h3>
																					<p class="forum__desc h5">Split payments with upto 3 other artists/partners.
																					</p>
																					<p class="forum__desc h5">Be it a co-creator, your producer or your marketer.
																					</p>
																					<p class="forum__desc h5">Include up to 3 charity addresses.
																					</p>
																			</div>
																	</div>
															</div>
															<div class="box is__big space-y-20 forum_border mt-30 col-5">
																		<div class="d-flex form_cc_four">
																				<div class="space-y-20">
																						<h3>Royalties</h3>
																						<p class="forum__desc h5">Royalities are included in split payments.</p>
																						<p class="forum__desc h5">Paid in the token your art was sold in.
																						</p>
																						<p class="forum__desc h5">Paid instantly with each sale.
																						</p>

																				</div>
																		</div>
																</div>
													</div>
													<div class="row justify-content-center">
														<div class="box is__big space-y-20 forum_border mt-30 col-5 mr-10">
																	<div class="d-flex form_cc_four">
																			<div class="space-y-20">
																					<h3>Honey As Payment</h3>
																					<p class="forum__desc h5">Withdraw honey your art earned on it's brew date.
																					</p>
																					<p class="forum__desc h5">Make money even if your art doesn't sell.
																					</p>

																			</div>
																	</div>
															</div>
															<div class="box is__big space-y-20 forum_border mt-30 col-5">
																		<div class="d-flex form_cc_four">
																				<div class="space-y-20">
																						<h3>Presence Monetization</h3>
																						<p class="forum__desc h5">Earn TEA tokens from your music/video content. </p>
																						<p class="forum__desc h5">Coming soon...
																						</p>


																				</div>
																		</div>
																</div>
													</div>
													<div class="hero_newsletter box bg_white mt-30 mb-30" id="auctions">
																				<div class="row gx-5 align-items-center">
																						<div class="col-lg-12">
																								<div class="content space-y-20">
																										<h1 class="hero__title text-center">Auction Bidding</h1>
																										<p class="hero__desc h5 text-center" style="linline-height: 44px">
																											Bids go up by 5%, with 1% of the bid amount added back into the brew of the nft. <br><br>
																											<b>this means with each bid, the value of your nft goes up</b><br><br>
																											to end the auction, simply accept the bid.
																										</p>
																								</div>
																						</div>

																				</div>
																		</div>
																		<div class="row justify-content-center">
																			<div class="col-12">
																				<div class="box is__big space-y-20 forum_border mt-30 col-12 mr-10">
																							<div class="d-flex form_cc_four">
																									<div class="space-y-20">
																											<h3 class="text-center">We take artist mental health seriously</h3>
																											<p class="forum__desc h5">
																												We understand the passion and love you put into your creations. We also understand artists take it
																												personal IF/when their art isn't sold. <br><br>
																												We've heard stories of artist depression and worse self-value thoughts.<br><br>
																												We encourage you to have fun with the platform, crypto is a space where folks add value to anything they
																												want. <br><br>
																												The throw away section allows you to give your art value in a fun way. <br><br>Even art you spent 15 mins creating
																												has value. <br><br>Back it with TEA Tokens or shitcoins and have fun with it.
																											</p>
																									</div>
																							</div>
																					</div>
																			</div>
																		</div>
						</div>
					</div>
				</div>
			</div>
