<header class="header__1 js-header">
  <div class="container">
    <div class="wrapper js-header-wrapper">
      <div class="header__logo">
        <div class="row">
          <div class="col">
            <img src="/assets/img/logos/cup64.png" />

          </div>
          <div class="col" style="padding-top:21px">
            <a routerLink="/home" class="h3" href="javascript: void(0)" style="color:#000; font-family: 'Poiret One'; padding-top:20px">
            <b>  NFTea.app</b>
            </a>

          </div>
        </div>
      </div>
      <div class="header__menu">
        <ul class="d-flex space-x-20">
          <li>
            <a class="color_black" href="javascript: void(0)" routerLink="/about/us" style="font-family: 'Poiret One'; color:#000"> <b>About Us</b></a>
          </li>
          <li>
            <a class="color_black" href="javascript: void(0)" routerLink="/about/us" style="font-family: 'Poiret One'; color:#000"> <b>TEA Tokens</b></a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</header>

<div class="hero__3 ">
    <div class="container">
        <div class="row align-items-center mb-50 md:space-y-20">
            <div class="col-lg-6">
                <h1 class="hero__title">
                    <span class="color_brand" style="font-family: 'Potta One'">NFTea </span> = nft's, game assets,  meta verse thing's backed by TEA tokens, locked away for months/years
                </h1>
                <div class="pt-10"><br>
                  <a href="javascript: void(0)"  class="btn btn btn-dark btn-lg" routerLink="/home"> <i class="ri-link"></i> Connect Wallet</a></div>

            </div>
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body">
                    <img src="assets/img/brand/ahp.png" class="img-fluid w-full" />
                </div>
              </div>

            </div>

        </div>

    </div>
</div>
<div class="container">
  <div class="hero_newsletter box bg_white mt-30 mb-30">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 left__side">
                        <div class="content space-y-20 form_cc_four">

                            <h1 class="hero__title text-center">Inmate NFT's</h1>
                            <p>NFTEA is proud to be the 1st and only NFT platform to allow poems, stories, raps and art sent as text messages from prison inmates. </p>
                            <p> Not all text messages we receive will become NFT's, we encourage to you to create an account on behalf of your incarated loved one, to gurantee their
                              valuable thoughts are turned into NFTea's.

                        </div>
                    </div>
                    <div class="col-lg-6 right__side text-center">
                      <h3 class="text-center">have your incarated friend or family member text (screen shot preffered) their poem, story or artwork to.. <br><br></h3>
                        <h2 class="text-center">
                          (984) 600-NFTEA

                        </h2>
                        <p class="mt-5"><small>include the family member BNB payout address in the text... 80% of the sold amount is sent to the BNB address</small></p>
                    </div>
                </div>
            </div>
</div>

<div class="call2action">
				<div class="container">
					<div class="row justify-content-between align-items-center
						sm:space-y-20">
						<div class="col-md-6">
							<div class="space-y-20">
								<h1 class="text-white">Community Tools/Features</h1>
                <p class="color_text text-white">-Split payments</p>
                <p class="color_text text-white">-Paid Audio Chatrooms</p>
								<p class="color_text text-white">-Auto staking NFT's</p>
                <p class="color_text text-white">-Presence monetization for content</p>
                <p class="color_text text-white">-Music/Video streaming (coming soon)</p>


								<a href="javascript: void(0)" class="btn
									btn-primary" routerLink="/home">Start
									Collecting</a>
							</div>
						</div>
						<div class="col-md-auto">
							<img class="img-fluid img__logo" src="assets/img/logos/cup256.png">
						</div>
					</div>
				</div>
			</div>

<div class="call2action is__light">
    <div class="container">
        <div class="row justify-content-between align-items-center
            sm:space-y-20">
            <div class="col-md-6">
                <div class="space-y-20">
                  <h1><span class="color_brand" style="font-family: 'Potta One'">TEA Pot</span></h1>
                  <h3 class="color_text section__text">A community bank from which your NFT earns interest.</h3>
                  <h1>
                    {{honeyBalance || 1000000000000 | number:'1.0-9'}} TEA<br>
                      ${{honeyBalance*PRICES || 1250 | number:'1.0-2'}} pot value<br></h1>
                    <h4 class="color_text section__text">With each "like", your NFT gets a little out the TEA Pot added to it's brew</h4>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-fluid img__logo"
                    src="assets/img/logos/teapot.jpg" alt="..." style="max-width:90%; height:auto;  box-shadow: 3px 6px 6px 12px #F2F5FF;">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="community">
        <div class="section__head space-y-20">
            <h3 class="section__title text-center" style="color:#000; font-family: 'Poiret One'; padding-top:20px">NFTEA.app</h3>
            <p class="text-center">                <img class="img__logo"
                                src="assets/img/logos/cup256.png">
</p>
            <p class="section__text text-center">84 Trillion Supply</p>
            <p class="section__text text-center">% of every transaction goes into the <br>TEA POT to be redistributed back to holders via NFT's and content.</p>
            <p class="section__text text-center">10% total tax<br>4% Marketing<br>4% Operations<br> 2% back to liquidity</p>
            <p class="section__text text-center">Reflections are distributed into NFTs and content via the TEA POT</p>
            <p class="section__text text-center">420,000,000,000 (0.05% of liquidity) Max wallet Limit is removed when you unlock the assets from an NFT</p>


            <p class="section__text text-center">Tons Of Applications Utilizing NFTEA</p>

            <p class="section__text text-center"><a href="https://bscscan.com/address/0xb4668238Acf0314A7b4e153368e479fCd2E09831" target="_blank">Contract</a> (bscscan)</p>
            <p class="section__text text-center"><a href="https://pancakeswap.finance/swap?outputCurrency=0xb4668238Acf0314A7b4e153368e479fCd2E09831" target="_blank" class="btn btn-lg btn-dark">Buy On PancakeSwap</a></p>
            <p class="section__text text-center"><a href="https://www.dextools.io/app/bsc/pair-explorer/0x3acd58d9cc879bed0b0b5313466c9116176bc242" target="_blank">Dex Tools</a></p>
            <p class="section__text text-center"><a href="https://mudra.website/?certificate=yes&type=0&lp=0x3acd58d9cc879bed0b0b5313466c9116176bc242" target="_blank">Mudra Liquidity Lock Certificate</a></p>
            <p class="section__text text-center"><a
  href="https://coinhunt.cc/coin/31708301"
  target="_blank"
  rel="noreferrer"
>
  <img src="https://api.cnhnt.cc/public/getEmbedImage/31708301" alt="NFTEA.app" />
</a></p>

        </div>

        <div class="community__items">
            <div class="row justify-content-center mb-20_reset">
                <div class="col-md-3">
                    <div class="item space-y-10">
                        <div class="logo">
                          <a href="https://github.com/VictorBlockchain/nftea">
                            <img src="assets/img/icons/github.svg" alt="github">
                          </a>
                        </div>
                        <h5 class="text-center">Github</h5>
                        <p class="text-center">View Contracts</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item space-y-10">
                        <div class="logo is_twitter">
                          <a href="https://twitter.com/victorblokchain">
                            <img src="assets/img/icons/twitter.svg"
                                alt="logo_community"></a>
                        </div>
                        <h5 class="text-center">Twitter</h5>
                        <p class="text-center">keep up with us on twitter</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item space-y-10">
                        <div class="logo is_discord">
                          <a href="https://t.me/nftea">

                            <img src="assets/img/icons/telegram.png" style="width:30%: height:auto"
                                alt="logo_community"></a>
                        </div>
                        <h5 class="text-center">Telegram</h5>
                        <p class="text-center">join the NFTEA community</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
