<header class="header__1 js-header">
  <div class="container">
    <div class="wrapper js-header-wrapper">
      <div class="header__logo">
        <div class="row">
          <div class="col">
            <img src="/assets/img/logos/cup64.png" />

          </div>
          <div class="col" style="padding-top:21px">
            <a routerLink="/home" class="h3" href="javascript: void(0)" style="color:#000; font-family: 'Poiret One'; padding-top:20px">
            <b>  NFTea.app</b>
            </a>

          </div>
        </div>
      </div>
      <div class="header__menu">
        <ul class="d-flex space-x-20">
          <li>
            <a class="color_black" href="javascript: void(0)" routerLink="/about/us" style="font-family: 'Poiret One'; color:#000"> <b>About Us</b></a>
          </li>
          <li>
            <a class="color_black" href="javascript: void(0)" routerLink="/about/us" style="font-family: 'Poiret One'; color:#000"> <b>TEA Tokens</b></a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</header>

<div class="hero__2">
				<div class="container">
					<div class="space-y-20">

						<p class="hero__text text-center h2" style="font-family:'Potta One'"><b>NFT's</b> with access to contracts full of assets. <br><br><span style="font-family:'Concert One'" class="mt-7">own the nft to get access to assets in contract</span></p>
						<div class="space-x-20 d-flex justify-content-center">
              <p class="text-center p-2" style="font-family:'Potta One'; font-size:33px; display:none">Goes Live 5/4/2022</p>
							<a class="btn btn-grad btn-lg" href="javascript: void(0)" routerLink="/home">Connect BSC Wallet</a>
						</div>
            <p class="text-center"><a href="https://academy.binance.com/en/articles/connecting-metamask-to-binance-smart-chain" target="_blank" style="text-decoration:none">using Binance Smart Chain TEST NET</a></p>

					</div>
					<div class="wrapper">
						<div class="row">
							<div class="col-lg-4">
								<div class="card__item one is__hero">
									<div class="card_body">
										<!-- ???? =============== -->
										<div class="card_head">
											<a href="javascript: void(0)" routerLink="/showcase/1/0xff5881a04a77d589a4605ef0e0534d24c17d44c2">
												<img src="https://ipfs.moralis.io:2053/ipfs/Qme8uPb6yUh6psLX2gYHrGNNPCzjPpQsWrTWeVqkTZQUG9" alt="...">
											</a>
											<div class="details space-x-0 d-flex
												justify-content-between">
												<div class="bid space-x-10">
													<div class="icon">

																							</div>
																							<div>
																								<p class="color_text
																									txt">CURRENT
																									BID</p>
																								<span class="txt_lg
																									_bold">1000000
																									TEA</span>
																							</div>
																						</div>
																						<div class="auction_end">
																							<p class="color_text
																								txt">
																								AUCTION
																								END</p>
																							<div class="d-flex
																								justify-content-center
																								align-items-center
																								space-x-10
																								txt_lg
																								_bold">
																								<div class="item">
																									<div class="number
																										hours">17<span></span></div>
																								</div>
																								<div class="dots">:</div>
																								<div class="item">
																									<div class="number
																										minutes">05<span></span></div>
																								</div>
																								<div class="dots">:</div>
																								<div class="item">
																									<div class="number
																										seconds">07<span></span></div>
																								</div>
																							</div>
																						</div>
																						<div class="fire-icon">
																							<i class="ri-fire-fill"></i>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
							<div class="col-lg-4">
								<div class="card__item one is__hero">
									<div class="card_body">
										<!-- ???? =============== -->
										<div class="card_head">
                      <a href="javascript: void(0)" routerLink="/showcase/2/0xff5881a04a77d589a4605ef0e0534d24c17d44c2">
												<img src="https://ipfs.moralis.io:2053/ipfs/QmY18aS3nyv5im9ckq48zxYdtEbJ1aJSSnxMPdudXsYNw7" alt="...">
											</a>
											<div class="details space-x-0 d-flex
												justify-content-between">
												<div class="bid space-x-10">

																							<div>
																								<p class="color_text
																									txt">CURRENT
																									BID</p>
																								<span class="txt_lg
																									_bold">300000
																									TEA</span>
																							</div>
																						</div>
																						<div class="auction_end">
																							<p class="color_text
																								txt">
																								AUCTION
																								END</p>
																							<div class="d-flex
																								justify-content-center
																								align-items-center
																								space-x-10
																								txt_lg
																								_bold">
																								<div class="item">
																									<div class="number
																										hours">17<span></span></div>
																								</div>
																								<div class="dots">:</div>
																								<div class="item">
																									<div class="number
																										minutes">05<span></span></div>
																								</div>
																								<div class="dots">:</div>
																								<div class="item">
																									<div class="number
																										seconds">07<span></span></div>
																								</div>
																							</div>
																						</div>
																						<div class="fire-icon">
																							<i class="ri-fire-fill"></i>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
							<div class="col-lg-4">
								<div class="card__item one is__hero">
									<div class="card_body">
										<!-- ???? =============== -->
										<div class="card_head">
                      <a href="javascript: void(0)" routerLink="/showcase/3/0x1479aac671bb77d403955f71c6262afb4e161b8b">
												<img src="https://ipfs.moralis.io:2053/ipfs/QmT9JXMss1aebWexThqFvT6URSm1vchWqp2JwhWvYHvc22" alt="...">
											</a>
											<div class="details space-x-0 d-flex
												justify-content-between">
												<div class="bid space-x-10">

																							<div>
																								<p class="color_text
																									txt">CURRENT
																									BID</p>
																								<span class="txt_lg
																									_bold">8900000
																									TEA</span>
																							</div>
																						</div>
																						<div class="auction_end">
																							<p class="color_text
																								txt">
																								AUCTION
																								END</p>
																							<div class="d-flex
																								justify-content-center
																								align-items-center
																								space-x-10
																								txt_lg
																								_bold">
																								<div class="item">
																									<div class="number
																										hours">17<span></span></div>
																								</div>
																								<div class="dots">:</div>
																								<div class="item">
																									<div class="number
																										minutes">05<span></span></div>
																								</div>
																								<div class="dots">:</div>
																								<div class="item">
																									<div class="number
																										seconds">07<span></span></div>
																								</div>
																							</div>
																						</div>
																						<div class="fire-icon">
																							<i class="ri-fire-fill"></i>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>

<div class="container">
  <div class="hero_newsletter box bg_white mt-30 mb-30">
                <div class="row gx-5 align-items-center p-10">
                    <div class="col-lg-6 left__side;">
                        <div class="content space-y-20 form_cc_four">

                            <h1 class="hero__title text-center">Advanced Features</h1>
                            <ul class="h4 text-center">
                              <li class="mt-3">music NFTs</li>
                              <li class="mt-3">video/content NFTs</li>
                              <li class="mt-3">artist split payments</li>
                              <li class="mt-3">coupons as nfts</li>
                              <li class="mt-3">community bank</li>
                              <li class="mt-3">Tea Token Rewards</li>
                              <li class="mt-3">Limited Edition Uniques</li>
                              <li class="mt-3">Tea Pass Content Rewards</li>
                              <li class="mt-3">NFTs by Prison Artists</li>

                            </ul>

                        </div>
                    </div>
                    <div class="col-lg-6 right__side text-center teaPot">
                      <img src="/assets/img/icons/teapot.jpeg" class="img-fluid" style="border-radius: 50%;"/>
                      <p class="centered" style="font-family:'Concert One'; font-size:21px; background-color:#fff; padding:13px">Brew: asset contracts are time locked</p>
                    </div>
                </div>
            </div>
</div>

<div class="section__artists mt-100 py-100 bg-white">
	<div class="container">
		<div class="row justify-content-center align-items-center
			sm:space-y-20">
			<div class="col-md-6 form_cc_four">
					<p class="text-white; text-center" style="font-family:'Concert One'; font-size:43px">TEA POT</p>
          <p class="text-white; text-center p-10" style="font-family:'Concert One'; font-size:23px">A community bank of Tea Tokens<br>every trade of tea tokens adds 1% of trade amount to the Tea Pot. Your NFT earns 'interest' from the Tea Pot. <br><br>Tea Pass rewards are paid from the Tea Pot</p>
          <div class="space-x-20 d-flex justify-content-center">
            <a class="btn btn-grad btn-md" href="javascript: void(0)" routerLink="/home">Connect Wallet</a>
          </div>

			</div>
		</div>
	</div>
</div>


<div class="container">
    <div class="community">
        <div class="section__head space-y-20">
            <p class="section__title text-center" style="color:#000; font-family: 'Poiret One'; padding-top:20px; font-size:33px">TEA TOKENS</p>
            <p class="text-center">                <img class="img__logo"
                                src="assets/img/logos/cup256.png">
</p>
            <p class="section__text text-center">84 Trillion Supply</p>
            <p class="section__text text-center">% of every transaction goes into the <br>TEA POT to be redistributed back to holders via NFT's and content.</p>
            <p class="section__text text-center">10% total tax<br>4% Marketing<br>4% Operations<br> 2% back to liquidity</p>
            <p class="section__text text-center">Reflections are distributed into NFTs and content via the TEA POT</p>
            <p class="section__text text-center">420,000,000,000 Max wallet Limit is removed when you buy an NFT</p>


            <p class="section__text text-center">Tons Of Applications Utilizing NFTEA</p>

            <p class="section__text text-center"><a href="https://bscscan.com/address/0xb4668238Acf0314A7b4e153368e479fCd2E09831" target="_blank">Contract</a> (bscscan)</p>
            <p class="section__text text-center"><a href="https://pancakeswap.finance/swap?outputCurrency=0xb4668238Acf0314A7b4e153368e479fCd2E09831" target="_blank" class="btn btn-lg btn-dark">Buy On PancakeSwap</a></p>
            <p class="section__text text-center"><a href="https://www.dextools.io/app/bsc/pair-explorer/0x3acd58d9cc879bed0b0b5313466c9116176bc242" target="_blank">Dex Tools</a></p>
            <p class="section__text text-center"><a href="https://mudra.website/?certificate=yes&type=0&lp=0x3acd58d9cc879bed0b0b5313466c9116176bc242" target="_blank">Mudra Liquidity Lock Certificate</a></p>
            <p class="section__text text-center"><a
  href="https://coinhunt.cc/coin/31708301"
  target="_blank"
  rel="noreferrer"
>
  <img src="https://api.cnhnt.cc/public/getEmbedImage/31708301" alt="NFTEA.app" />
</a></p>

        </div>

        <div class="community__items">
            <div class="row justify-content-center mb-20_reset">
                <div class="col-md-3">
                    <div class="item space-y-10">
                        <div class="logo">
                          <a href="https://github.com/VictorBlockchain/nftea">
                            <img src="assets/img/icons/github.svg" alt="github">
                          </a>
                        </div>
                        <h5 class="text-center">Github</h5>
                        <p class="text-center">View Contracts</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item space-y-10">
                        <div class="logo is_twitter">
                          <a href="https://twitter.com/victorblokchain">
                            <img src="assets/img/icons/twitter.svg"
                                alt="logo_community"></a>
                        </div>
                        <h5 class="text-center">Twitter</h5>
                        <p class="text-center">keep up with us on twitter</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item space-y-10">
                        <div class="logo is_discord">
                          <a href="https://t.me/nftea">

                            <img src="assets/img/icons/telegram.png" style="width:30%: height:auto"
                                alt="logo_community"></a>
                        </div>
                        <h5 class="text-center">Telegram</h5>
                        <p class="text-center">join the NFTEA community</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
