<router-outlet></router-outlet>
<footer class="footer__1">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 space-y-20">
				<div class="footer__logo">
					<a href="/">
						<img src="assets/img/logos/Logo.svg" alt="logo">
					</a>
				</div>
				<p class="footer__text">
					NFTea solves many of the problems in the NFT space, from splitting payments amoung creators, to advanced buyer incentives.<br /><br />
					We see a bright future for retail and NFT's, and NFT's with stored value...
				</p>
				<div>
					<ul class="footer__social space-x-10 mb-40">
						<li> <a href="https://discord.gg/gGekfmfzF9"> <i class="ri-discord-line"></i> </a>
						</li>
						<li> <a href="https://t.me/satoshitcoin"> <i class="ri-telegram-line"></i> </a>
						</li>
						<li> <a href="https://twitter.com/victorblokchain"> <i class="ri-twitter-line"></i> </a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-2 col-6">
				<h6 class="footer__title">the hows & whats</h6>
				<ul class="footer__list">
					<li> <a href="javascript: void(0)" routerLink="/about/sato"> what are TEA tokens? </a>
					</li>
					<li> <a href="javascript: void(0)" routerLink="/about/brew"> What are brew pots?
						</a> </li>
					<li> <a href="javascript: void(0)" routerLink="/about/auctions"> How auctions work?
						</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-2 col-6">
				<h6 class="footer__title">creators</h6>
				<ul class="footer__list">
					<li> <a href="javascript: void(0)" routerLink="/about/royalties"> royalties </a>
					</li>
					<li> <a href="javascript: void(0)" routerLink="/about/royalties"> splitting payments </a>
					</li>
					<li> <a href="javascript: void(0)" routerLink="/about/teapot">  Tea pot</a>
					</li>
					<li> <a href="javascript: void(0)" routerLink="/about/brew">  brew pot
						</a> </li>
				</ul>
			</div>
			<div class="col-lg-2 col-6">
				<h6 class="footer__title">company</h6>
				<ul class="footer__list">
					<li> <a href="javascript: void(0)" routerLink="/about/us"> about us </a>
					</li>
					<li> <a href="https://bscscan.com/address/0x96c42f22078f6c48d419006dC2CC08c94aB4389F"> bscscan </a> </li>
					<li> <a href="https://twitter.com/satoshi_tcoin"> contact us
						</a> </li>
					<li> <a href="javascript: void(0)"> blog </a>
					</li>
				</ul>
			</div>
		</div>
		<p class="copyright text-center">
			Copyright © 2021. NFTEA.app
		</p>
	</div>
</footer>
