<app-header (session)="getSession($event)"></app-header>
<div class="modal fade popup" id="connect_to" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-body space-y-20 p-40">
						<form [formGroup]="_connect">
							<h3 class="mt-10 text-center">Connect Your Teapass</h3>
							<p class="mt-10 mb-10 text-center dashed_box bg_white"><b>Connect to a content provider, listen to their podcast, watch their live stream, while they earn $$ from the teapot<br><br>the amount they earn is based on your power level.</b></p>

							<div class="space-y-10 pt-3">
									<span class="nameInput">Connect To</span>
									<input type="text" class="form-control" placeholder="0x.." formControlName="to">
							</div>

							<a href="javascript: void(0)" class="btn btn-primary w-full mt-30" (click)="CONNECT()"> Connect</a>
						</form>
					</div>
				</div>
		</div>
</div>
<div class="modal fade popup" id="allow_connections" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-body space-y-20 p-40">
						<form [formGroup]="_allow">
							<h3 class="mt-10 text-center">Allow Connections</h3>
							<p class="mt-10 mb-10 text-center dashed_box bg_white"><b>Allow community members to connect to your tea pass to reward your content.<br>You earn their power level from the teapot<br><br>max 4 hours </b></p>
							<span class="nameInput mt-3">Content Type</span>
							<select class="form-select custom-select" aria-label="market" formControlName="type">
								<option value="Live audio">Live Audio Stream</option>
								<option value="Live video">Live Video Stream</option>
								<option value="audio">Audio Content</option>
								<option value="video">Video Content</option>
							</select>
							<div class="space-y-10 pt-3">
									<span class="nameInput">Embed Code (youtube, spotify, etc)</span>
									<textarea class="form-control" rows="8" cols="80" formControlName="embed"></textarea>
							</div>
							<a href="javascript: void(0)" class="btn btn-white w-full mt-30"> Coming soon</a>

							<a href="javascript: void(0)" class="btn btn-primary w-full mt-30" (click)="ALLOW()" style="display:none"> Allow Connections</a>
						</form>
					</div>
				</div>
		</div>
</div>

<div class="modal fade popup" id="close_connections" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-body space-y-20 p-40">
							<h3 class="mt-10 text-center">Close Connections</h3>
							<p class="mt-10 mb-10 text-center dashed_box bg_white"><b>Stop accepting connections<br>connected audience members will still have to disconnect from you</b></p>
							<a href="javascript: void(0)" class="btn btn-danger w-full mt-30" (click)="CLOSE()"> Close Connections</a>
					</div>
				</div>
		</div>
</div>

<div class="modal fade popup" id="disconnect_from" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-body space-y-20 p-40">
						<form [formGroup]="_disconnect">
							<h3 class="mt-10 text-center">Dissconnect Your Teapass</h3>
							<p class="mt-10 mb-10 text-center dashed_box bg_white"><b>Disconnect your teapass to send the host their Teapot rewards. You pay nothing, they will earn your power level x how long you were connected to their teapass. </b></p>

							<a href="javascript: void(0)" class="btn btn-primary w-full mt-30" (click)="DISCONNECT()"> Disconnect</a>
						</form>
					</div>
				</div>
		</div>
</div>
<div class="hero__creators">
			    <div class="container">
			        <div class="row align-items-center justify-content-between">
			            <div class="col-lg-6">
			                <div class="space-y-20">
			                    <h1>Tea Pass</h1>
			                    <p class="hero__text">
			                        Earn tea tokens with your content.. stream video, embed a spotify playlist, playback pre-recorded video and earn $$ from the tea pot.
			                    </p>
			                </div>
			            </div>
			            <div class="col-lg-auto">
										<a href="javascript: void(0)" class="btn btn-dark btn-lg mr-2" data-toggle="modal" data-target="#close_connections" *ngIf="CREATORisLIVE"> Close Connections</a>
									<a href="javascript: void(0)" class="btn btn-grad btn-lg mr-2" data-toggle="modal" data-target="#allow_connections" *ngIf="!CREATORisLIVE"> Allow Connections</a>
			            </div>
			        </div>

			    </div>
			</div>
			<div class="container" style="display:none">
							<div class="row">
								<div class="col-lg-3">
									<div class="creator_item creator_card space-y-10 is_big">
										<div class="avatars flex-column space-y-10">
											<div class="media has_border">
												<a href="Profile.html">
													<img src="assets/img/avatars/avatar_1.png" alt="Avatar" class="avatar avatar-md">
												</a>
												<div class="has_number">
													1
												</div>
											</div>
											<div class="text-center">
												<a href="Profile.html">
													<p class="avatars_name large color_black">@jimena_stark</p>
												</a>
												<span class="sales color_text">4 sales on
													14.28 ETH</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

			<div class="section__creators mt-100" style="display:none">
				<div class="container">
					<div class="space-y-30">
						<div class="section_head">
							<div class="row justify-content-between
								align-items-center">
								<div class="col-lg-auto">
									<h2 class="section__title">Discover all Creators</h2>
								</div>
								<div class="col-lg-4">
									<div class="search">
										<input type="text" placeholder="Search" class="bg_white" style="background:white
											!important">
										<button class="result">
											<i class="ri-search-line"></i>
										</button>
									</div>
								</div>

								<div class="col-lg-auto">
									<div class="dropdown">
										<button class="btn btn-primary btn-sm
											dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Recent Active
										</button>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else
												here</a>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="section__body space-y-20">
							<div class="row mb-20_reset">
								<div class="col-lg-4">
									<div class="creator_item creator_card space-y-20 mb-20">
										<div class="avatars flex-column space-y-10">
											<div class="cover">
												<img src="assets/img/items/cover_1.png" alt="Avatar" class="img-fluid">
											</div>
											<div class="media">
												<a href="Profile.html">
													<img src="assets/img/avatars/avatar_5.png" alt="Avatar" class="avatar
														avatar-md">
												</a>
											</div>
											<div class="details text-center">
												<div>
													<p class="color_black txt_lg">191
														<span class="txt_sm">ETH</span></p>
													<p class="color_black txt_sm">Sold</p>
												</div>
												<div>
													<p class="color_black txt_lg">345</p>
													<p class="color_black txt_sm">Collections</p>
												</div>
												<div>
													<p class="color_black txt_lg">17,005</p>
													<p class="color_black txt_sm">Views</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
			<div class="container" *ngIf="showContent">
				<div id="content">
            <div class="article_wrap mt-0" [innerHTML]="EMBED">
        		</div>
						<div class="p3 text-center">
							<a href="javascript: void(0)" class="btn btn-primary btn-lg mr-2" data-toggle="modal" data-target="#disconnect_from"> DISCONNECT</a>

						</div>
        </div>
			</div>
			<div class="container" *ngIf="!showContent">
						        <div class="space-x-10 d-flex align-items-center mb-20">
						            <div class="calendar_icon"><i class="ri-calendar-event-line"></i></div>
						            <h3>Content Providers</h3>
						        </div>
										<div class="box d-flex table-responsive">
											comig soon..
										</div>

			</div>
			<div class="container" *ngIf="!showContent" style="display:none">
						        <div class="space-x-10 d-flex align-items-center mb-20">
						            <div class="calendar_icon"><i class="ri-calendar-event-line"></i></div>
						            <h3>Content Providers</h3>
						        </div>
						        <div class="box d-flex table-responsive">
						            <table class="table upcoming_projects">
						                <thead>
						                    <tr>
						                        <th scope="col"><span>Creator</span></th>
																		<th class="space-x-5" scope="col"><span>Type</span></th>
						                        <th class="space-x-5" scope="col"><span>Start</span></th>
						                        <th class="space-x-5" scope="col"><span>Connected</span></th>
						                        <th class="space-x-5" scope="col"><span>Earnings</span></th>
																		<th class="space-x-5" scope="col"></th>

						                    </tr>
						                </thead>
														<tbody *ngIf="CREATORS && CREATORS.length<1">
																<tr>
																	<td colspan="8" class="text-center"><span class="color_black">no creators open to connect</span></td>
																</tr>
														</tbody>
						                <tbody *ngIf="CREATORS && CREATORS.length>0">
						                    <tr *ngFor="let data of CREATORS">
																	<td><span class="color_black">{{data.user}}</span></td>
																	<td><span class="color_black">{{data.type}}</span></td>
						                        <td><span class="color_black">{{data.start | date: 'short'}}</span></td>
						                        <td>{{data.connections}}</td>
						                        <td><span class="color_red">{{data.earnings}}</span></td>
																		<td *ngIf="!data.connected"><a href="javascript: void(0)" class="btn btn-sm btn-primary" (click)="CONNECT(data.user,data.embed)"><span class="color_white">Connect</span></a></td>
						                        <td *ngIf="data.connected"><a href="javascript: void(0)" class="btn btn-sm btn-primary" (click)="SHOW(data.user,data.embed)"><span class="color_white">View/Listen</span></a></td>
						                    </tr>
						                </tbody>
						            </table>
						        </div>
						    </div>

      <section class="section forum mt-100" style="display:none">
      			    <div class="container-md">
      			        <div class="row sm:space-y-30">
      			            <div class="col-lg-8" *ngIf="!showCreateRoom">
      			                <div class="forum__content">
      			                    <ul class="nav nav-tabs d-flex mb-30" role="tablist">
      			                        <li class="nav-item">
      			                            <a class="btn btn-white btn-sm active" data-toggle="tab" href="#tabs-1" role="tab">
      			                                $1 Hand Raise</a>
      			                        </li>
      			                        <li class="nav-item">
      			                            <a class="btn btn-white btn-sm" data-toggle="tab" href="#tabs-1" role="tab">
      			                                $5 Hand Rise</a>
      			                        </li>
      			                        <li class="nav-item">
      			                            <a class="btn btn-white btn-sm" data-toggle="tab" href="#tabs-1" role="tab">
      			                                $10 Hand Raise</a>
      			                        </li>
      			                        <li class="nav-item">
      			                            <a class="btn btn-white btn-sm" data-toggle="tab" href="#tabs-1" role="tab">
      			                                $15+ Hand Raise</a>
      			                        </li>
      			                    </ul>

      			                    <div class="tab-content">
      			                        <div class="tab-pane active space-y-30" id="tabs-1" role="tabpanel" *ngIf="ROOMS">
																			<div class="box is__big space-y-20" *ngIf="ROOMS && ROOMS.length<1">
																				<div class="row">
																					<div class="col-12">
																						<h3 class="text-center">no rooms open</h3>
																					</div>
																				</div>
																			</div>

      			                            <div class="box is__big space-y-20" *ngFor="let data of ROOMS">
      			                                <div class="d-flex justify-content-between
      			                                    align-items-center">
      			                                    <div class="d-flex align-items-center
      			                                        space-x-15">
      			                                        <div class="avatars space-x-10">
      			                                            <div class="media has_border">
      			                                                <a href="javascript: void(0)">
      			                                                    <img src="assets/img/icons/cup_peach_256.png" alt="Avatar" class="avatar
      			                                                        avatar-forum">
      			                                                </a>
      			                                            </div>
      			                                            <div class="text-center">
      			                                                <a href="javascript: void(0)">
      			                                                    <p class="avatars_name
      			                                                        color_brand">Host: {{data.host.slice(0,5)}}...</p>
      			                                                </a>
      			                                            </div>
      			                                        </div>
      			                                        <div class="category">
      			                                            <p class="color_black"><span class="color_text">in:</span>

      			                                            </p>
      			                                        </div>
      			                                    </div>
      			                                    <div>
      			                                        <div class="avatars space-x-3">
      			                                            <div class="-space-x-20">
      			                                                <small>FEE:</small> {{data.fee | number:'1.0-9'}} TEA

      			                                            </div>
      			                                        </div>
      			                                    </div>
      			                                </div>
      			                                <div class="d-flex">
      			                                    <div class="number">
      			                                        <span class="pr-10">#{{data.id}}</span>
      			                                    </div>
      			                                    <div class="space-y-20">
      			                                        <a href="post_details.html">
      			                                            <h3 class="forum__title">{{data.title}}</h3>
      			                                        </a>
      			                                        <p class="forum__desc">{{data.info}}</p>
      			                                        <div class="hr"></div>
      			                                        <div class="d-flex
      			                                            justify-content-between flex-wrap">

      			                                            <div class="answer text-right">
      			                                                <a href="javascript: void(0)" class="btn btn-dark
      			                                                    btn-lg" routerLink="/cafe/room/{{data.id}}">Join Room</a>
      			                                            </div>
      			                                        </div>
      			                                    </div>
      			                                </div>
      			                            </div>

      			                        </div>
      			                        <div class="tab-pane" id="tabs-2" role="tabpanel">
      			                            <p>2</p>
      			                        </div>
      			                        <div class="tab-pane" id="tabs-3" role="tabpanel">
      			                            <p>3</p>
      			                        </div>
      			                        <div class="tab-pane" id="tabs-4" role="tabpanel">
      			                            <p>4</p>
      			                        </div>
      			                    </div>
      			                </div>
      			            </div>
                        <div class="col-lg-8" *ngIf="showCreateRoom">
                          <h3 class="p-3">create room</h3>
                          <div class="box is__big">
                            <form [formGroup]="_createRoom">

			                        <div class="space-y-20 mb-0">
			                            <div class="space-y-10">
			                                <span class="nameInput">Title</span>
			                                <input type="email" class="form-control" placeholder="nftea tips and tricks" formControlName="title">
			                            </div>
			                            <div class="space-y-10">
			                                <span class="nameInput">Hand Raise Fee</span>
                                      <select class="form-select
                                          custom-select" formControlName="fee">
																					<option value="0">FREE</option>
                                          <option value="1">$1</option>
                                          <option value="5">$5</option>
                                          <option value="10">$10</option>
                                          <option value="15">$15</option>
                                          <option value="25">$25</option>
                                          <option value="50">$50</option>
                                          <option value="100">$100</option>
                                          <option value="250">$250</option>
                                          <option value="500">$500</option>
                                          <option value="1000">$1,000</option>
                                      </select>
			                            </div>
			                            <div class="space-y-10">
			                                <span class="nameInput">Details</span>
			                                <textarea style="min-height: 110px" class="mb-0" formControlName="details">
                                      </textarea>
			                            </div>
			                            <div class="space-y-10">
			                                <span class="nameInput">Category</span>
			                                <select class="form-select
			                                    custom-select" formControlName="category">
			                                    <option value="nftea">NFTea</option>
			                                    <option value="metaverse">Metaverse/VR</option>
			                                    <option value="gaming">Gaming</option>
                                          <option value="gaming">Music</option>
                                          <option value="film">Film</option>
                                          <option value="crypto">Crypto</option>
                                          <option value="women">Women & Crypto/NFT</option>
			                                </select>
			                            </div>
                                  <div class="space-y-10">
                                      <span class="nameInput">NFT ID Required</span>
                                      <input type="number" class="form-control" formControlName="nftid">
                                  </div>
                                  <p>Participants must have this NFT to join room, leave blank if none</p>
                                  <div class="space-y-10">
                                      <span class="nameInput">Host 2</span>
                                      <input type="text" class="form-control" formControlName="host2">
                                  </div>
                                  <p>BNB Address of Host #2, leave blank if none</p>
                                  <div class="space-y-10">
                                      <span class="nameInput">Host 3</span>
                                      <input type="text" class="form-control" formControlName="host3">
                                  </div>
                                  <p>BNB Address of Host #3, leave blank if none</p>
                                  <div class="space-y-10">
                                      <span class="nameInput">Host 4</span>
                                      <input type="text" class="form-control" formControlName="host4">
                                  </div>
                                  <p>BNB Address of Host #4, leave blank if none</p>
                                  <div class="space-y-10">
                                      <span class="nameInput">Host 5</span>
                                      <input type="text" class="form-control" formControlName="host5">
                                  </div>
                                  <p>BNB Address of Host #5, leave blank if none</p>
                                  <div class="space-y-10 p-30">
                                    <a href="javascript: void(0)"  class="btn btn-primary w-100" (click)="setRoom()">
                                        <i class="ri-add-line"></i>
                                        create room</a>

                                  </div>
			                        </div>
                              </form>
			                    </div>
                        </div>
      			            <div class="col-lg-4">
      			                <div class="sidebar space-y-30">
      			                    <a *ngIf="!showCreateRoom"  href="javascript: void(0)"  class="btn btn-grad w-100" (click)="showCreateRoom=true;">
      			                        <i class="ri-add-line"></i>
      			                        Start New Room</a>
                                    <a *ngIf="showCreateRoom"  href="javascript: void(0)"  class="btn btn-dark w-100" (click)="showCreateRoom=false;">
                                        <i class="ri-add-line"></i>
                                        cancel</a>
      			                    <div class="space-y-10">
      			                        <h5>Categories</h5>
      			                        <div class="box space-y-10 is__big">
      			                            <div class="d-flex justify-content-between">
      			                                <span class="color-black" (click)="LR()">NFTea</span>
      			                                <span class="light_bg">0</span>
      			                            </div>
      			                            <div class="hr"></div>
      			                            <div class="d-flex justify-content-between">
      			                                <span class="color-black">Metaverse/VR</span>
      			                                <span class="light_bg">0</span>
      			                            </div>
      			                            <div class="hr"></div>
      			                            <div class="d-flex justify-content-between">
      			                                <span class="color-black">Gaming</span>
      			                                <span class="light_bg">0</span>
      			                            </div>
                                        <div class="hr"></div>

                                        <div class="d-flex justify-content-between">
      			                                <span class="color-black">Music</span>
      			                                <span class="light_bg">0</span>
      			                            </div>
                                        <div class="hr"></div>

                                        <div class="d-flex justify-content-between">
                                            <span class="color-black">Film</span>
                                            <span class="light_bg">0</span>
                                        </div>
                                        <div class="hr"></div>

                                        <div class="d-flex justify-content-between">
      			                                <span class="color-black">Crypto</span>
      			                                <span class="light_bg">0</span>
      			                            </div>
                                        <div class="hr"></div>

                                        <div class="d-flex justify-content-between">
      			                                <span class="color-black">Women & Crypto/NFT</span>
      			                                <span class="light_bg">0</span>
      			                            </div>


      			                       </div>
      			                    </div>

      			                    <div class="space-y-10">
      			                        <div class="box space-y-30">
                                      <h6 class="card_title">
                                         - Room time is based on your Cafe NFT<br>
                                         <small class="color_brand">ie: If you have an hour cafe NFT, you can host a room for 3 hours but will earn only 1 hour worth of presence monetization</small>
                                      </h6>

                                        <h6 class="card_title">
                                           - Earnings split evenly between hosts
                                        </h6>
      			                        </div>
      			                    </div>
      			                </div>
      			            </div>
      			        </div>
      			    </div>
      			</section>
