<app-header (session)="getSession($event)"></app-header>
<div class="hero__collections" *ngIf="ALBUM">
			    <div class="container">
			        <h1>{{ALBUM.name}} <span style="font-size:12px">album</span></h1>
			    </div>
			</div>
			<div class="section mt-100">
						    <div class="container">
						        <div class="row justify-content-center mb-30_reset">
											<h4 class="text-center">working on listing NFT's in your album</h4>
						        	<!-- <div class="col-lg-4 col-md-6 col-sm-8">
						        		<div class="collections space-y-10 mb-30">
						        			<div class="collections_item">
						        				<a href="Profile.html">
						        					<div class="images-box space-y-10">
						        						<div class="d-flex space-x-10">
						        							<img style="width: 33.33%;" src="assets/img/items/item_1.png" alt="">
						        							<img style="width: 33.33%;" src="assets/img/items/item_2.png" alt="">
						        							<img style="width: 33.33%;" src="assets/img/items/item_3.png" alt="">
						        						</div>
						        						<div>
						        							<img src="assets/img/items/item_4.png" alt="">
						        						</div>
						        					</div>
						        				</a>
						        			</div>
						        			<div class="collections_footer justify-content-between">
						        				<h5 class="collection_title"><a href="Collections.html">Creative Art collection
						        					</a></h5>
						        				<a href="#" class="likes space-x-3">
						        					<i class="ri-heart-3-fill"></i>
						        					<span class="txt_md">2.1k</span>
						        				</a>
						        			</div>
						        			<div class="creators space-x-10">
						        				<span class="color_text txt_md"> 5 items · Created by</span>
						        				<div class="avatars space-x-5">
						        					<a href="Profile.html">
						        						<img src="assets/img/avatars/avatar_1.png" alt="Avatar" class="avatar avatar-sm">
						        					</a>
						        				</div>
						        				<a href="Profile.html">
						        					<p class="avatars_name txt_sm"> @william_jamy... </p>
						        				</a>
						        			</div>
						        		</div>
						        	</div> -->


						        </div>    </div>
						</div>
