<app-header (session)="getSession($event)"></app-header>
<div class="hero_marketplace bg_white">
			    <div class="container">
			        <p class="text-center" style="color:#000; font-family: 'Concert One'; font-size:33px">Market Place</p>
              <p *ngIf="user" class="text-center mt-15" style="color:#000; font-family: 'Concert One'; font-size:27px">TEA POT: {{teaBalance | number:'1.0-9'}} | <small>${{teaBalance*TEAVALUE | number:'1.0-2'}}</small></p>
			    </div>
			</div>
<div class="bg_white border-b py-20">
    <div class="container">
        <div class="d-flex justify-content-center">
            <ul class="menu_categories space-x-20">
              <li> <a href="javascript: void(0)" (click)="changeMarket(1)">
                      <i class="ri-emotion-laugh-line orange" *ngIf="ACTIVE_TAB==1"></i>
                      <i class="ri-emotion-laugh-fill" *ngIf="ACTIVE_TAB!=1"></i> <span> Avatars </span>
                  </a>

              </li>
              <li> <a href="javascript: void(0)" (click)="changeMarket(2)">
                      <i class="ri-layout-4-line orange" *ngIf="ACTIVE_TAB==2"></i>
                      <i class="ri-layout-4-fill" *ngIf="ACTIVE_TAB!=2"></i> <span> Covers </span>
                  </a>

              </li>
                <li> <a href="javascript: void(0)" (click)="changeMarket(7)">
                  <i class="ri-music-2-line" *ngIf="ACTIVE_TAB==7"></i>
                        <i class="ri-music-2-fill" *ngIf="ACTIVE_TAB!=7"></i> <span> Music </span>
                    </a>

                </li>
                <li> <a href="javascript: void(0)" (click)="changeMarket(5)">
                  <i class="ri-film-line" *ngIf="ACTIVE_TAB==5"></i>
                        <i class="ri-film-fill" *ngIf="ACTIVE_TAB!=5"></i> <span> Film / Video </span>
                    </a>

                </li>
                <li>
                  <a href="javascript: void(0)" (click)="changeMarket(3)">
                    <i class="ri-flag-line" *ngIf="ACTIVE_TAB==3"></i>
                        <i class="ri-flag-fill" *ngIf="ACTIVE_TAB!=3"></i> <span> Heritage </span>
                    </a>

                </li>
                <li> <a href="javascript: void(0)" (click)="changeMarket(6)">
                  <i class="ri-brush-line" *ngIf="ACTIVE_TAB==6"></i>
                        <i class="ri-brush-fill" *ngIf="ACTIVE_TAB!=6"></i> <span> Arts </span>
                    </a>

                </li>
                <li> <a href="javascript: void(0)" (click)="changeMarket(9)">
                  <i class="ri-women-line" *ngIf="ACTIVE_TAB==9"></i>
                        <i class="ri-women-fill" *ngIf="ACTIVE_TAB!=9"></i> <span> Sexy Women </span>
                    </a>

                </li>
                <li> <a href="javascript: void(0)" (click)="changeMarket(10)">
                  <i class="ri-men-line" *ngIf="ACTIVE_TAB==10"></i>
                        <i class="ri-men-fill" *ngIf="ACTIVE_TAB!=10"></i> <span> Sexy Men </span>
                    </a>

                </li>
                <li> <a href="javascript: void(0)" (click)="changeMarket(8)">
                  <i class="ri-building-line" *ngIf="ACTIVE_TAB==8"></i>
                        <i class="ri-building-fill" *ngIf="ACTIVE_TAB!=8"></i> <span> Prison </span>
                    </a>

                </li>
                <li> <a href="javascript: void(0)" (click)="changeMarket(11)">
                  <i class="ri-map-pin-line" *ngIf="ACTIVE_TAB==11"></i>
                        <i class="ri-map-pin-fill" *ngIf="ACTIVE_TAB!=11"></i> <span> Coupons </span>
                    </a>

                </li>
                <li> <a href="javascript: void(0)" (click)="changeMarket(4)">
                  <i class="ri-book-line" *ngIf="ACTIVE_TAB==4"></i>
                        <i class="ri-book-fill" *ngIf="ACTIVE_TAB!=4"></i> <span> Cafe Wall </span>
                    </a>

                </li>

            </ul>
          </div>

    </div>
</div>
<div class="section mt-100">
    <div class="container">
      <div class="row justify-content-center" *ngIf="!NFT || NFT.length<1">
        <div class="col-8">
          <div class="box_buy_wrapper relative mb-20">
			                    <div class="box_buy_wrapper2">
			                        <div class="box box_buy">
			                            <div class="row">

			                                <div class="col-12 text-center">

                                        <h4 *ngIf="user" style="font-family: 'Poiret One'; color:#000">no nft's for this {{TAB_NAME}} market<br><br>
                                        select another from the tab above</h4>
                                        <p *ngIf="!user">connect wallet to view nfts</p>
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                </div>
          </div>
      </div>
        <div class="row" *ngIf="NFT && NFT.length>0">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6" *ngFor="let data of NFT">
                <div class="card__item four">
                    <div class="card_body space-y-10">
                        <!-- =============== -->
                        <div class="creators space-x-10">
                            <div class="avatars space-x-3">
                                <a href="javascript: void(0)">
                                    <p class="avatars_name txt_xs">ID: #{{data.nft_id}}</p>
                                </a>
                            </div>
                        </div>
                        <div class="card_head">
                            <a href="javascript: void(0)" routerLink="/showcase/{{data.nft_id}}/{{data.auction.seller.toLowerCase()}}">
                                <img
                                    src="{{data.image}}"
                                    alt="">
                            </a>

                            <a href="javascript: void(0)" class="likes space-x-3">
                                <i class="ri-cup-line"></i>
                                <span class="txt_sm">{{data.brewTea/1000000000 | number:'1.0-9'}}</span>
                            </a>
                        </div>
                        <!-- =============== -->
                        <h6 class="card_title">
                            <a class="color_black" href="javascript: void(0)">
                              {{data.title}}
                            </a>
                        </h6>

                        <div class="card_footer d-block space-y-10">
                            <div class="card_footer justify-content-between">
                                <div class="creators">
                                    <p class="txt_sm"> {{data.quantity | number:'1.0-0'}} prints</p>
                                </div>
                                <a href="javascript: void(0)" class="">
                                    <p class="txt_sm"> <span
                                            class="color_green
                                            txt_sm">{{data.auction[0].highestBid/1000000000 | number:'1.0-9'}} TEA</span>
</p>
                                </a>
                            </div>
                            <div class="hr"></div>
                            <div class="d-flex align-items-center space-x-10
                                justify-content-between">
                                <div class="d-flex align-items-center
                                    space-x-10">
                                    <i class="ri-history-line"></i>
                                    <a href="javascript: void(0)">
                                        <p class="color_text txt_sm"
                                            style="width: auto">
                                            brew {{data.dateTea}}
                                        </p>
                                    </a>
                                </div>
                                <a class="btn btn-sm btn-primary" href="javascript: void(0)"
                                    routerLink="/showcase/{{data.nft_id}}/{{data.auction.seller.toLowerCase()}}">Place
                                    Bid</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
