<app-header (session)="getSession($event)"></app-header>
<div class="modal fade popup" id="settings" tabindex="-1" role="dialog" aria-hidden="true">

					<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">×</span>
									</button>
									<div class="modal-body space-y-20 p-40">
											<h3 class="text-center">Settings</h3>
											<p class="text-center">Set Split Payments & More</p>
                      <form [formGroup]="_settings">
                        <div class="space-y-10">
                          <span class="nameInput">Title</span>
                          <input type="text" class="form-control" placeholder="african hyena pets" formControlName="title">
                        </div>
                        <div class="space-y-20">
                          <div class="space-y-10">
                            <span class="nameInput">Album/Collection</span>
                            <select class="form-select custom-select" aria-label="Preference" formControlName="album">
                              <option *ngFor="let data of ALBUM"
                                  [value]="data.id">
                                {{data.name}}
                              </option>
                            </select>

                          </div>
                        </div>
                        <div class="space-y-10">
          								<span class="nameInput">Royalty</span>
          								<input type="number" class="form-control" placeholder="e. g. `10`" formControlName="royalty">
          							</div>
          							<div class="space-y-10">
          								<div class=row>
          									<div class="col-6">
          										<span class="nameInput">Split With <span class="color_text">
          												(optional) </span></span>
          										<input type="text" class="form-control" placeholder="e. g. `0x0`" formControlName="split1">
          									</div>
          									<div class="col-6">
          										<span class="nameInput">Split % <span class="color_text">
          												(optional) </span></span>
          										<input type="number" class="form-control" placeholder="e. g. `25`" formControlName="split1Value">
          									</div>
          								</div>
          							</div>
          							<div class="space-y-10">
          								<div class=row>
          									<div class="col-6">
          										<span class="nameInput">Split With <span class="color_text">
          												(optional) </span></span>
          										<input type="text" class="form-control" placeholder="e. g. `0x0`" formControlName="split2">
          									</div>
          									<div class="col-6">
          										<span class="nameInput">Split % <span class="color_text">
          												(optional) </span></span>
          										<input type="number" class="form-control" placeholder="e. g. `25`" formControlName="split2Value">
          									</div>
          								</div>
          							</div>
          							<div class="space-y-10">
          								<div class=row>
          									<div class="col-6">
          										<span class="nameInput">Split With <span class="color_text">
          												(optional) </span></span>
          										<input type="text" class="form-control" placeholder="e. g. `0x0`" formControlName="split3">
          									</div>
          									<div class="col-6">
          										<span class="nameInput">Split % <span class="color_text">
          												(optional) </span></span>
          										<input type="number" class="form-control" placeholder="e. g. `25`" formControlName="split3Value">
          									</div>
          								</div>
          							</div>
            					</form>
											<a href="javascript: void(0)" class="btn btn-dark w-full" (click)="setSettings()"> Set Settings</a>
									</div>
							</div>
					</div>
			</div>
<div class="modal fade popup" id="nftstory" tabindex="-1" role="dialog" aria-hidden="true">

					<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">×</span>
									</button>
									<div class="modal-body space-y-20 p-40">
											<h3 class="text-center">NFT STORY</h3>
											<p class="text-center">whats the story for this nft?</p>
                      <form [formGroup]="_nftStory">
            						<div class="space-y-20">
                          <div class="space-y-10">
                            <span class="nameInput">NFT ID</span>
                            <input type="text" class="form-control" placeholder="10" formControlName="nftid">
                          </div>
                          <div class="space-y-10">
                            <span class="nameInput">Rarity</span>
                            <input type="text" class="form-control" placeholder="30" formControlName="rarity">
                          </div>

            							<div class="space-y-10">
            								<span class="nameInput">Story</span>
            								<input type="text" class="form-control" placeholder="e. g. `this is a story about`" formControlName="story">
            							</div>
            							<div class="space-y-10">
            								<div class=row>
            									<div class="col-6">
            										<span class="nameInput">Propery Name <span class="color_text">
            												(optional) </span></span>
            										<input type="text" class="form-control" placeholder="e. g. `gender`" formControlName="prop1">
            									</div>
            									<div class="col-6">
            										<span class="nameInput">Property Value <span class="color_text">
            												(optional) </span></span>
            										<input type="text" class="form-control" placeholder="e. g. `female`" formControlName="prop1Value">
            									</div>
            								</div>
            							</div>
            							<div class="space-y-10">
            								<div class=row>
            									<div class="col-6">
            										<span class="nameInput">Propery Name <span class="color_text">
            												(optional) </span></span>
            										<input type="text" class="form-control" placeholder="e. g. `strength`" formControlName="prop2">
            									</div>
            									<div class="col-6">
            										<span class="nameInput">Property Value <span class="color_text">
            												(optional) </span></span>
            										<input type="text" class="form-control" placeholder="e. g. `10`" formControlName="prop2Value">
            									</div>
            								</div>
            							</div>
            							<div class="space-y-10">
            								<div class=row>
            									<div class="col-6">
            										<span class="nameInput">Propery Name <span class="color_text">
            												(optional) </span></span>
            										<input type="text" class="form-control" placeholder="e. g. `color`" formControlName="prop3">
            									</div>
            									<div class="col-6">
            										<span class="nameInput">Property Value <span class="color_text">
            												(optional) </span></span>
            										<input type="text" class="form-control" placeholder="e. g. `blue`" formControlName="prop3Value">
            									</div>
            								</div>
            							</div>
            							<div class="space-y-10">
            								<div class=row>
            									<div class="col-6">
            										<span class="nameInput">Propery Name <span class="color_text">
            												(optional) </span></span>
            										<input type="text" class="form-control" placeholder="e. g. `weapon`" formControlName="prop4">
            									</div>
            									<div class="col-6">
            										<span class="nameInput">Property Value <span class="color_text">
            												(optional) </span></span>
            										<input type="text" class="form-control" placeholder="e. g. `sword`" formControlName="prop4Value">
            									</div>
            								</div>
            							</div>
            							<div class="space-y-10">
            								<div class=row>
            									<div class="col-6">
            										<span class="nameInput">Propery Name <span class="color_text">
            												(optional) </span></span>
            										<input type="text" class="form-control" placeholder="e. g. `weapon strength`" formControlName="prop5">
            									</div>
            									<div class="col-6">
            										<span class="nameInput">Property Value <span class="color_text">
            												(optional) </span></span>
            										<input type="text" class="form-control" placeholder="e. g. `8`" formControlName="prop5Value">
            									</div>
            								</div>
            							</div>
            							<div class="space-y-10">
            								<div class=row>
            									<div class="col-6">
            										<span class="nameInput">Propery Name <span class="color_text">
            												(optional) </span></span>
            										<input type="text" class="form-control" placeholder="e. g. `dancing`" formControlName="prop6">
            									</div>
            									<div class="col-6">
            										<span class="nameInput">Property Value <span class="color_text">
            												(optional) </span></span>
            										<input type="text" class="form-control" placeholder="e. g. `5`" formControlName="prop6Value">
            									</div>
            								</div>
            							</div>

            						</div>
            					</form>
											<a href="javascript: void(0)" class="btn btn-dark w-full" (click)="setStory()"> Set Story</a>
									</div>
							</div>
					</div>
			</div>

      <div class="modal fade popup" id="mintpass" tabindex="-1" role="dialog" aria-hidden="true">

      					<div class="modal-dialog modal-dialog-centered" role="document">
      							<div class="modal-content">
      									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
      											<span aria-hidden="true">×</span>
      									</button>
      									<div class="modal-body space-y-20 p-40">
      											<h3 class="text-center">Mint Pass</h3>
      											<p class="text-center">which nft should members have to mint?</p>
                            <form [formGroup]="_mintPass" *ngIf="ALBUM && ALBUM.length>0">
                              <div class="space-y-20">
                                <div class="space-y-10">
                                  <span class="nameInput">Album/Collection</span>
                                  <select class="form-select custom-select" aria-label="Preference" formControlName="album">
                                    <option *ngFor="let data of ALBUM"
                                        [value]="data.id">
                                      {{data.name}}
                                    </option>
                                  </select>

                                </div>
                              </div>
                  						<div class="space-y-20 mt-20">
                                <div class="space-y-10">
                                  <span class="nameInput">NFT ID</span>
                                  <input type="text" class="form-control" placeholder="10" formControlName="nftid">
                                </div>
                  						</div>
                  					</form>
      											<a href="javascript: void(0)" class="btn btn-dark w-full" (click)="setMintPass()"> Set Mint Pass</a>
      									</div>
      							</div>
      					</div>
      			</div>
<div class="hero_marketplace bg_white">
    <div class="container">
        <h1 class="text-center">Generative Mint</h1>
        <h5 class="text-center mt-20">collectors mint your nft's using your mint pass</h5>
        <div class="text-center mt-30">
            <div class="space-y-40 upload_file">

              <div class="space-y-20">
                <p class="color_text">upload your images<br />images will be uploaded to ipfs and assigned an id</p>
                <a href="javascript: void(0)" class="btn btn-white"> Browse files </a>
                <input type="file" (change)="upload($event)" multiple>

              </div>
            </div>
        </div>

    </div>
</div>
<div class="bg_white border-b py-20">
			    <div class="container">
			        <div class="d-flex justify-content-center">
			            <ul class="menu_categories space-x-20">
			                <li> <a href="javascript: void(0)" data-toggle="modal" data-target="#nftstory">
			                        <i class="ri-brush-fill"></i> <span> NFT Story </span>
			                    </a>

			                </li>
			                <li> <a href="javascript: void(0)" data-toggle="modal" data-target="#settings">
			                        <i class="ri-stock-fill"></i> <span> Settings </span>
			                    </a>

			                </li>
                      <li> <a href="javascript: void(0)" data-toggle="modal" data-target="#mintpass">
                              <i class="ri-magic-fill"></i> <span> Mint Pass </span>
                          </a>

                      </li>
			            </ul>
              </div>
			    </div>
			</div>
<div class="container">
			    <div class="section mt-100">
			        <div class="section__head">
			            <h2 class="section__title mb-20"> Reserved ID's</h2>

			        </div>

			        <div class="modal fade popup" id="popup_bid_success" tabindex="-1" role="dialog" aria-hidden="true">
			            <div class="modal-dialog modal-dialog-centered" role="document">
			                <div class="modal-content">
			                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                        <span aria-hidden="true">×</span>
			                    </button>
			                    <div class="modal-body space-y-20 p-40">
			                        <h3 class="text-center">Your Bidding
			                            Successfuly Added</h3>
			                        <p class="text-center">your bid <span class="color_text txt
			                                _bold">(16ETH) </span> has been listing
			                            to our database</p>

			                        <a href="" class="btn btn-dark w-full"> Watch the listings</a>
			                    </div>
			                </div>
			            </div>
			        </div>
			        <div class="modal fade popup" id="popup_bid" tabindex="-1" role="dialog" aria-hidden="true">
			            <div class="modal-dialog modal-dialog-centered" role="document">
			                <div class="modal-content">
			                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                        <span aria-hidden="true">×</span>
			                    </button>
			                    <div class="modal-body space-y-20 p-40">
			                        <h3>Place a Bid</h3>
			                        <p>You must bid at least <span class="color_black">15 ETH</span>
			                        </p>
			                        <input type="text" class="form-control" placeholder="00.00 ETH">

			                        <p>Enter quantity. <span class="color_green">5 available</span>
			                        </p>
			                        <input type="text" class="form-control" value="1">
			                        <div class="hr"></div>
			                        <div class="d-flex justify-content-between">
			                            <p> You must bid at least:</p>
			                            <p class="text-right color_black txt _bold"> 67,000 ETH </p>
			                        </div>
			                        <div class="d-flex justify-content-between">
			                            <p> service free:</p>
			                            <p class="text-right color_black txt _bold"> 0,901 ETH </p>
			                        </div>
			                        <div class="d-flex justify-content-between">
			                            <p> Total bid amount:</p>
			                            <p class="text-right color_black txt _bold"> 56,031 ETH </p>
			                        </div>
			                        <a href="" class="btn btn-primary w-full" data-toggle="modal" data-target="#popup_bid_success" data-dismiss="modal" aria-label="Close"> Place a bid</a>
			                    </div>
			                </div>
			            </div>
			        </div><div class="modal fade popup" id="popup_history" tabindex="-1" role="dialog" aria-hidden="true">
			        	<div class="modal-dialog modal-dialog-centered" role="document">
			        		<div class="modal-content">
			        			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			        				<span aria-hidden="true">×</span>
			        			</button>
			        			<div class="modal-body space-y-20 p-40">
			        				<h4> History </h4>
			        				<div class="creator_item creator_card space-x-10">
			        					<div class="avatars space-x-10">
			        						<div class="media">
			        							<div class="badge">
			        								<img src="assets/img/icons/Badge.svg" alt="">
			        							</div>
			        							<a href="javascript: void(0)">
			        								<img src="assets/img/avatars/avatar_1.png" alt="Avatar" class="avatar avatar-md">
			        							</a>
			        						</div>
			        						<div>
			        							<p class="color_black">Bid accepted <span class="color_brand">1
			        									ETH</span> by <a class="color_black txt
			        									_bold" href="javascript: void(0)">ayoub</a></p>
			        							<span class="date color_text">28/06/2021, 12:08</span>
			        						</div>
			        					</div>
			        				</div>
			        				<div class="creator_item creator_card space-x-10">
			        					<div class="avatars space-x-10">
			        						<div class="media">
			        							<div class="badge">
			        								<img src="assets/img/icons/Badge.svg" alt="">
			        							</div>
			        							<a href="javascript: void(0)">
			        								<img src="assets/img/avatars/avatar_2.png" alt="Avatar" class="avatar avatar-md">
			        							</a>
			        						</div>
			        						<div>
			        							<p class="color_black">Bid accepted <span class="color_brand">3
			        									ETH</span> by <a class="color_black txt
			        									_bold" href="javascript: void(0)">monir</a></p>
			        							<span class="date color_text">22/05/2021, 12:08</span>
			        						</div>
			        					</div>
			        				</div>
			        			</div>
			        		</div>
			        	</div>
			        </div><div class="row mb-30_reset" *ngIf="IDS && IDS.length>0">
			        	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6" *ngFor="let data of IDS; index as i">
			        		<div class="card__item four">
			        			<div class="card_body space-y-10">

			        				<div class="card_head">
			        					<a href="javascript: void(0)">
			        						<img src="{{data.image || 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCoL-8Yy9xsLfOJEHxweDzmN04hIDcPPu_goP1x23OXiKyknjv5dm5CNTJV1TpRkUcq8s&usqp=CAU'}}" alt="">
			        					</a>

			        					<a href="javascript: void(0)" class="likes space-x-3">
			        						<i class="ri-cup-line"></i>
			        						<span class="txt_sm">0</span>
			        					</a>
			        				</div>
			        				<!-- =============== -->
			        				<h6 class="card_title">
			        					#{{data.id}}
			        				</h6>
			        				<div class="card_footer d-block space-y-10">
			        					<div class="card_footer justify-content-between">
			        						<div class="creators">
			        							<p class="txt_sm"> 1 in stock</p>
			        						</div>
			        						<a href="javascript: void(0)" class="">
			        							<p class="txt_sm">Price: <span class="color_green
			        									txt_sm">0 TEA</span></p>
			        						</a>
			        					</div>
			        					<div class="hr"></div>
			        					<div class="text-center">
			        						<a class="btn btn-sm btn-primary" href="javascript: void(0)">Mint</a>
			        					</div>
			        				</div>
			        			</div>
			        		</div>
			        	</div>

			        </div>
            </div>

			</div>
